@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");

:root {
  font-family: "Manrope", sans-serif;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div > img {
  width: 100%;
}

div > h1 {
  text-decoration: underline;
}
